{
  "presets": [
    "es2015",
    "react",
    "es2017"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-destructuring"
  ],
  "env": {
    "test": {
      "plugins":[]
    }
  }
}

