html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #00A4BD;
}

body > #root > div {
    height: 70vh;
    font-family: sans-serif;
    font-weight: 100;
}

.superContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 2.5em;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.logicContainer {
    padding: 2em 0;
    display: flex;
    align-items: center;
}

.currencyBox {
    display: flex;
    width: 100%;
    max-width: 300px;
    align-items: center;
    padding: 3px 0;
}

.titleBold {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.title {
    color: #FFFFFF;
    font-size: 32px;
    margin: 0;
}

input {
    width: 100%;
    margin: 8px -2px;
    box-sizing: border-box;
    line-height: 34px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    border-spacing: 0;
    border-collapse: separate;
    color: #333;
    cursor: default;
    display: table;
    height: 36px;
    outline: none;
    overflow: hidden;
    text-align: center;
}

.disabledInput {
    background-color: #ddebec;
}

.reverseIcon {
    width: 25px;
    height: 25px;
}

.arrowsContainer {
    font-size: 12px;
    padding-left: 0.5em;
}

.arrows {
    color: white;
}