html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #00A4BD;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
}

.currencyBox {
    display: flex;
    width: 100%;
    max-width: 200px;
}

.titleBold {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.title {
    color: #FFFFFF;
    font-size: 32px;
    margin: 0;
}
