html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #00A4BD;
}

body > #root > div {
    height: 100vh;
}

.superContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
}

.logicContainer {
    padding: 3em 0;
}

.currencyBox {
    display: flex;
    width: 100%;
    max-width: 300px;
    align-items: center;
    padding: 3px 0;
}

.titleBold {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.title {
    color: #FFFFFF;
    font-size: 32px;
    margin: 0;
}

.input {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    line-height: 34px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    border-spacing: 0;
    border-collapse: separate;
    color: #333;
    cursor: default;
    display: table;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
}

.select {

}

.selectContainer {

}